<header class="container-fluid main-header">
    <div class="row m-0 align-items-center">
        <div class="col-lg-3 col-md-3">
            <h4 class="p-0 m-0">NETWEAVERS</h4>
        </div>
        <div class="col-lg-6 col-md-6">
            <ul>
                <li>
                    <a routerLink="/home" href="#">
                        HOME
                    </a>
                </li>
                <li>
                    <a routerLink="/about" href="#">
                        ABOUT
                    </a>
                </li>
                <li>
                    <a routerLink="/services" href="#">
                        SERVICES
                    </a>
                </li>
                <li>
                    <a routerLink="/contact" href="#">
                        CONTACT US
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3">
           <div class="social-icons float-right">
            <i class="fab fa-facebook-square pr-3"></i>
            <i class="fab fa-instagram pr-3"></i>
            <i class="fab fa-twitter"></i>
           </div>
        </div>
    </div>
</header>