<header class="container-fluid main-header">
    <div class="row m-0 align-items-center">
        <div class="col-lg-3 col-md-3">
            <h4 class="p-0 m-0">
                <a routerLink="/" href="#">NETWEAVERS</a>
            </h4>
        </div>
        <div class="col-lg-5 col-md-5">
            <ul class="menu-wrapper">
                <li>
                    <a routerLinkActive="active" routerLink="/home" href="#">
                        HOME
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/about" href="#">
                        ABOUT
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/services" href="#">
                        SERVICES
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/contact" href="#">
                        CONTACT US
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3">
           <div class="social-icons float-right">
            <i class="fab fa-facebook-square pr-3"></i>
            <i class="fab fa-instagram pr-3"></i>
            <i class="fab fa-twitter"></i>
           </div>
        </div>
        <div class="col-lg-1 col-md-1">
            <div *ngIf="isTokenValid" class="social-icons float-right">
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <i class="fas fa-user"></i>
                </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" (click)="logout()" href="javascript:void(0);">LogOut</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</header>