<div class="cmp-footer pt-4 w-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4">
                      <h4 class="cmp-footer__heading">Get to Know Us</h4>
                      <a href="#" class="cmp-footer__link">About Us</a>
                      <a href="#" class="cmp-footer__link">Seat/Aircraft Information</a>
                </div>
                  <div class="col-lg-4">
                      <h4 class="cmp-footer__heading">Quick Links</h4>
                      <a href="#" class="cmp-footer__link">Destination</a>
                      <a href="#" class="cmp-footer__link">Offers</a>
                      <a href="#" class="cmp-footer__link">Conditions of Carriage</a>                             
                </div>
                  <div class="col-lg-4">
                     <h4 class="cmp-footer__heading">Get In Touch</h4>
                     <div class="cmp-footer__text">
                     <i class="fas fa-map-marker-alt"></i>
                        <span>1309 Brigade Towers, 135, Brigade Rd, Bengaluru, Karnataka 560025</span>
                     </div>
                     <div class="cmp-footer__text">
                       <i class="fas fa-phone"></i>
                        <span>+1800 460 0000</span>
                     </div>
                     <div class="cmp-footer__text">
                        <a href="mailto:info@devalayadarshanam.com" class="cmp-footer__link">
                        <i class="fas far fa-envelope"></i>
                            <span>info@devalayadarshanam.com</span>
                        </a>
                      </div>
                     <div class="cmp-footer__text">
                        <a href="mailto:info@customersupport@devalayadarshanam.com" class="cmp-footer__link">
                        <i class="fas far fa-envelope"></i>
                            <span>customersupport@devalayadarshanam.com</span>
                        </a>
                     </div>
                     <div class="cmp-footer__text">
                        GSTIN 29ABWPS2674KZH
                     </div>
                     <div class="cmp-footer__text">
                     <i class="fas fa-phone"></i>
                         <span>080 222 13849</span>
                     </div>
                    </div>
                </div>
                <div class="row cmp-footer__tnc">
                  <div class="col-lg-4">Copyright &#xa9; 2020 Evenion Technologies</div>
                  <div class="col-lg-8">
                      <ul class="cmp-footer__tnc-link">
                          <li>Terms & Conditions</li>
                          <li>Privacy Policy</li>
                      </ul>
                    </div>
                </div>                      
            </div>
        </div>
    </div>
</div>