<div class="cmp-footer pt-4 w-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4">
                      <h4 class="cmp-footer__heading">Get to Know Us</h4>
                      <a href="#" routerLink='/about' class="cmp-footer__link">About Us</a>
                      <a href="#" routerLink='/contact' class="cmp-footer__link">Contact Us</a>
                </div>
                  <div class="col-lg-4">
                      <h4 class="cmp-footer__heading">Quick Links</h4>
                      <a href="#" routerLink='/home' class="cmp-footer__link">Home</a>
                      <a href="#" routerLink='/services' class="cmp-footer__link">Services</a>                    
                </div>
                  <div class="col-lg-4">
                     <h4 class="cmp-footer__heading">Get In Touch</h4>
                     <div class="cmp-footer__text">
                     <i class="fas fa-map-marker-alt"></i>
                        <span>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</span>
                     </div>
                     <div class="cmp-footer__text">
                       <i class="fas fa-phone"></i>
                        <span>1800 460 0000</span>
                     </div>
                     <div class="cmp-footer__text">
                        <a href="mailto:info@dummy.com" class="cmp-footer__link">
                        <i class="fas far fa-envelope"></i>
                            <span>info@dummy.com</span>
                        </a>
                      </div>
                     <div class="cmp-footer__text">
                        <a href="mailto:info@customersupport@dummy.com" class="cmp-footer__link">
                        <i class="fas far fa-envelope"></i>
                            <span>customersupport@dummy.com</span>
                        </a>
                     </div>
                     <div class="cmp-footer__text">
                        GSTIN xxxxxxxxxxxxxx
                     </div>
                     <div class="cmp-footer__text">
                     <i class="fas fa-phone"></i>
                         <span>080 xxx xxxxxx</span>
                     </div>
                    </div>
                </div>
                <div class="row cmp-footer__tnc">
                  <div class="col-lg-4">Copyright &#xa9; 2020 NetWeavers</div>
                  <div class="col-lg-8">
                      <ul class="cmp-footer__tnc-link">
                          <li>Terms & Conditions</li>
                          <li>Privacy Policy</li>
                      </ul>
                    </div>
                </div>                      
            </div>
        </div>
    </div>
</div>